<h1>Your Vacation List</h1>
<h3>Add a new place:</h3>
<form action='/places' method='post'>
  <label for='new-place'>Place Name</label>
  <input id='new-place' name='new-place' type='text'>
  <label for='new-description'>Place Description</label>
  <input id='new-description' name='new-description' type='text'>
  <br>
  <label for='new-image'>HTTP location for image</label>
  <input id='new-image' name='new-image' type='text'>
  <button type='submit'>Add place</button>
</form>
